<div class="row">
    <div class="col-12">
      <p>Add new Servers or blueprints!</p>
      <label for="name" class="form-label">Server Name</label>
      <input type="text" id="name" class="form-control mb-3" [(ngModel)]="newServerName" />
      <label for="content" class="form-label">Server Content</label>
      <input type="text" id="content" class="form-control" [(ngModel)]="newServerContent" />
      <br />
      <button class="btn btn-primary me-1" (click)="onAddServer()">
        Add Server
      </button>
      <button class="btn btn-primary ms-1" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button>
    </div>
  </div>
